@{
    ViewData["Title"] = "";
}
<div style="text-align:center; margin-bottom:250px">
    <h2>Contact Success!</h2>

    <p>Thank you for contacting us. We will get in touch with you shortly.</p>
    <a style="    width: 100px;
    background: #B5E745;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;" asp-controller="Phimlist" asp-action="Phim">Quay lại Trang Chủ</a>
</div>
    